.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 4px solid rgb(93, 180, 206);
  padding: 10px;
  background-color: rgb(241, 233, 233);
  width: 45%; 
  min-height: 40vh;
}


.title {
  color: rgb(154, 166, 233);
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.label {
  color: black;
  font-size: 0.55em;
  
}

.inputForm{
  width: 50%;
  height: 2rem;
  margin-top: 1rem;
  background: rgb(143, 241, 237);
  padding: 10px;
  border-radius: 5px;

}

.inputForm:focus {
  background-color: rgba(143, 241, 237,0.4)
}

.submitBtn {
  height: 25px;
  width: 100px;
}

.error {
color: red;
font-size: 0.5em;
letter-spacing: 1px;
}

.errorSpan {
height: 0.5rem;
}