.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
 

  @media screen and (max-width: 769px) {
    display: none;
  }

  .icon {
    display: flex;
    cursor: pointer;
    height: 35px;
    width: 35px;
    color: white;
    &:hover {
      opacity: 0.6;
    }

  }
}