:root {
 --footerAndHeaderBg: rgb(34, 31, 31);
 --fontColor: rgb(226, 195, 166);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}
.Container {
  background-color: #282c34;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

